extends ../layouts/default

include ../mixins/home-welcome
include ../mixins/home-sundays
//- include ../mixins/home-who-we-are
include ../mixins/home-jesus

block content
    
    //-@TODO: Remove 
    
    //- .container: .jumbotron
    //-     img(src='/images/logo.svg', width='160')
    //-     h1 Welcome
    //-     p This is your new <a href='http://keystonejs.com', target='_blank'>KeystoneJS</a> website.
    //-     p It includes the latest versions of
    //-         | <a href='http://getbootstrap.com/' target='_blank'>Bootstrap</a>
    //-         | and <a href='http://www.jquery.com/' target='_blank'>jQuery</a>.
    //-     p Visit the <a href='http://keystonejs.com/guide' target='_blank'>Getting Started</a> guide to learn how to customise it.
    //-     hr
    //-     if user && user.canAccessKeystone
    //-         p
    //-             a(href='/keystone/signin').btn.btn-lg.btn-primary Open the Admin UI
    //-     else
    //-         p We have created a default Admin user for you with the email <strong>cardwell.john@gmail.com</strong> and the password <strong>calvin99</strong>.
    //-         p
    //-             a(href='/keystone/signin', style='margin-right: 10px').btn.btn-lg.btn-primary Sign in
    //-             |  to use the Admin UI.
    //-     hr
    //-     p Remember to <a href='https://github.com/JedWatson/keystone' target='_blank'>Star KeystoneJS on GitHub</a> and
    //-         | <a href='https://twitter.com/keystonejs' target='_blank'>follow @keystonejs</a> on twitter for updates.

    #home-welcome
        .container
            mixin home-welcome()
            
            
    #home-sundays
        .container
            mixin home-sundays()
            
            
    #home-who-we-are
        .container
            //- mixin home-who-we-are(data.pastors)
            
            h2 Who we are
    
            hr
    
            p.section-description Foundation Church is built on the guiding principle that Christ is the foundation of the Church, the life of the Christian and the motivation for all that we do. In our unique situation, we are able to honor the work the Lord has done to move us to where we are currently. Mars Hill Church will always hold the history of our new church and we will be forever grateful for the legacy we have been given. Looking forward, we will continue with much of what Mars Hill has began with some changes for greater health and longevity.

            .row
                if data.pastors.length
                    each pastor in data.pastors
                        .col-sm-3.col-xs-6
                            img(src=pastor._.image.fit(300,300)).pastor-photo.img-responsive
                            h4.pastor-name #{pastor.name.first} #{pastor.name.last}
                            p.pastor-title= pastor.title
                            
    #home-jesus
        .container
            mixin home-jesus()
