mixin core-values()

    .row
        .col-md-12
            
            h2.section-title Core Values
            
            h3.section-title.section-subtitle Bible Teaching
            p.section-description The bible is the word of God, the highest authority in our lives and contains everything we need for good works.
            
            h3.section-title.section-subtitle Love for Others
            p.section-description Jesus commands us to love our neighbor as ourselves; in the same way God has loved us we love others.
            
            h3.section-title.section-subtitle Humble Service
            p.section-description We serve as Jesus has first served us.
            
            h3.section-title.section-subtitle Kingdom Living
            p.section-description In God’s kingdom there is flourishing and as his people we live in this reality.
            
            h3.section-title.section-subtitle Everything we do is ‘Built on Jesus.’
            p.section-description Jesus is the cornerstone of the Church, the foundation of the believer and the one who through all things are held together. Nothing built on him will ever fail because he sustains it.
            
            p.section-description Foundation Church is governed by a plurality of Elders in alignment with our 
             | a(href="#") By-Laws here
