mixin home-sundays()
    .row
        .col-md-6
            h2 Service Times
            
            h3 Sunday
            
            .row
                .col-md-2
                    p 9am
                    p kids
                .col-md-2
                    p 11am
                    p kids
                .col-md-2
                    p 5pm
                    p kids
    
        .col-md-6
            h2 Location
            p 2730 Oaks Ave. Everett, WA 98201
            p 206 816-3842
            
            p
                a(href='contact/').btn.btn-primary Connect
                
    .row
        .col-md-12
            img(src='http://placehold.it/1140x300', alt"map of church location").img-responsive