mixin home-welcome()
        h1 Built on Jesus.

        hr 

        p.section-description The reason Foundation Church exists is to glorify God. We believe that God is most
            | glorified in us as we learn to trust and be satisfied in Him alone. We seek to glorify God 
            | by putting our trust in Him, following in His ways, and gathering together as many new 
            | worshipers of him as possible. We want to treasure Him in corporate and in private 
            | worship, know Him better by learning the Bible and communicating with Him in prayer. 
            | We also want to extend His love to others in the greater community through fellowship,
            | support, discipleship and service. We rely on God Himself to bring change, growth,
            | healing and maturity to our church.

        //- p.verse "For no one can lay a foundation other than that which is laid, which is Jesus Christ."
        //-     a(href='http://www.esvbible.org/1+Corinthians+3%3A11-15/', target='_blank').scripture-reference 1 Corinthians 3:11