mixin home-jesus()
    .row
        .col-md-6
            h3 what we believe
            h2 It’s all about Jesus
            h4 No one is more loved or hated than Jesus.
            
            p This is not surprising, since he’s the most famous person in all of human history. More songs have been sung to him, artwork created of him, and books written about him than anyone who’s ever lived. Even our calendar is based off his life, dividing time before and after him. Naturally, someone this important will have fans and foes. And a lot of people have an idea of who Jesus is. They may get this idea from TV or movies, maybe from past church experience and Sunday School felt boards, from history books, or maybe from just hearsay. But just because we have ideas of who Jesus is doesn’t mean we actually know Jesus. At Foundation Church, we’re all about Jesus—and the only way to get to know Jesus is to understand what the Bible says about him, which includes what he said about himself.
            
            h4 Jesus is a good friend.
            p We’ve all been a bad friend at some point. Maybe we’ve taken advantage of friends or been short with them or simply not been there when needed. And we’ve probably experienced that as well. But Jesus is a good friend. In fact, he’s a perfect friend. And even when we’re horrible friends to him, he’s always a good friend to us. Jesus is such a good friend and we’re such bad friends, that he knew the only way to save our friendship was to die for our sins—and he did so willingly. Because of Jesus and his death on the cross, we have the opportunity daily to become better friends to Jesus and with Jesus. And as we do so, we learn some amazing things about him. As a good friend, Jesus loves us better than we could ever love him, love others—or even love ourselves. As a good friend, Jesus guides us, showing us how to live and how to love in a way that brings glory to God and fulfillment in life. As a good friend, Jesus forgives us our sin though we don’t deserve it—sacrificing his life so that we can live. As a good friend, Jesus listens. And not only that, he prays for us when he hears our prayers. He cares about what is happening in our lives.

            h4 Jesus is a truthful friend.
            p We’ve all been a bad friend at some point. Maybe we’ve taken advantage of friends or been short with them or simply not been there when needed. And we’ve probably experienced that as well. But Jesus is a good friend. In fact, he’s a perfect friend. And even when we’re horrible friends to him, he’s always a good friend to us. Jesus is such a good friend and we’re such bad friends, that he knew the only way to save our friendship was to die for our sins—and he did so willingly. Because of Jesus and his death on the cross, we have the opportunity daily to become better friends to Jesus and with Jesus. And as we do so, we learn some amazing things about him. As a good friend, Jesus loves us better than we could ever love him, love others—or even love ourselves. As a good friend, Jesus guides us, showing us how to live and how to love in a way that brings glory to God and fulfillment in life. As a good friend, Jesus forgives us our sin though we don’t deserve it—sacrificing his life so that we can live. As a good friend, Jesus listens. And not only that, he prays for us when he hears our prayers. He cares about what is happening in our lives.

            h4 More about Jesus...
            p If you want to learn more about Jesus, the Bible is a great place to start. The following are some parts of the Bible that speak of Jesus. If you want to dig deeper, we encourage you to start reading the Gospels of Matthew, Mark, Luke, and John and the book of Romans.


