mixin home-who-we-are()
    
    h2 Who we are
    
    hr
    
    p.section-description Foundation Church is built on the guiding principle that Christ is the foundation of the Church, the life of the Christian and the motivation for all that we do. In our unique situation, we are able to honor the work the Lord has done to move us to where we are currently. Mars Hill Church will always hold the history of our new church and we will be forever grateful for the legacy we have been given. Looking forward, we will continue with much of what Mars Hill has began with some changes for greater health and longevity.

    .row
        .col-sm-3.col-xs-6
            img(src="images/ryan.jpg").pastor-photo.img-responsive
            h4.pastor-name Ryan Williams
            p.pastor-title Lead Pastor
        .col-sm-3.col-xs-6
            img(src="images/brandon.jpg").pastor-photo.img-responsive
            h4.pastor-name Brandon Anderson
            p.pastor-title Executive Pastor
        .col-sm-3.col-xs-6
            img(src="images/jeff.jpg").pastor-photo.img-responsive
            h4.pastor-name Jeff Gwinn
            p.pastor-title Biblical Living Pastor
        .col-sm-3.col-xs-6
            img(src="images/tim.jpg").pastor-photo.img-responsive
            h4.pastor-name Tim Quiring
            p.pastor-title Cigar Aficionado