mixin home-jesus()
    .row
        .col-md-10.col-md-offset-1
            .jesus-died-for-your-sins
            h2.section-title what we believe
            h3.section-title Making Jesus Known
            
            //- h4.section-title.section-subtitle No one is more loved or hated than Jesus.
            
            p.section-description Foundation Church can be described as orthodox, evangelical, and reformed. We, as Foundation Church align our beliefs with historic Christian orthodoxy as expressed in the Apostle’s and Nicene creeds, and also with the 1689 London Baptist Confession of Faith.

            h4.section-title.section-subtitle The Bible
            p.section-description We believe that the Bible is the highest authority, it provides direction and instruction for the Christian and also contains the true story of the entire world. It’s pages should not be added to or detracted from. The Bible tells one story - the story of God and Jesus is it’s hero. (Luke 24:27; John 5:39-40; 2 Tim. 3:16; 2 Pet. 1:21; Deuteronomy 4:2; 12:32; Proverbs 30:5-6; John 16:12-13, 1 Thessalonians 2:13; 2 Timothy 3:16-17; 2 Peter 1:20-21; Rev. 22:18)
            
            h4.section-title.section-subtitle Trinity
            p.section-description The Father, Son and Holy Spirit exist in perfect community together from eternity past, now and forever. They exist as one God in three persons exercising distinct roles. (Genesis 1:26; Matthew 3:16-17; 15:28; 2 Corinthians 13:14; Jude 1:20-21)
            
            h4.section-title.section-subtitle God the Father
            p.section-description The Father is God, through his sovereign will all things exist and come to be. He has forever existed, perfect, self-sufficient and self-sustaining. (Genesis 1:26; 11:7; Deuteronomy 6:4; Matthew 28:19; Luke 3:21-22; John 1:1- 2,14,18; Romans 8; Heb. 1:8- 9; 1 Peter 1:2; Revelation 1:5-6; 22:3)
            
            h4.section-title.section-subtitle Jesus
            p.section-description Jesus is God, the Second member of the Trinity who became a man, without ceasing to be God, through his virgin birth, lived a sinless life, suffered torture, and death on a Roman cross, was buried and rose again on the third day. He ascended into heaven and will come again to judge the living and the dead.(Matthew 1:21-23, Luke 1:35; John 1:1-3, 14; Heb. 2:17; Col. 2:13-5; Acts 1:9-10; Hebrews 9:24; Romans 8:34; Hebrews 7:27; 1 John2:1-2)
            
            h4.section-title.section-subtitle God the Holy Spirit
            p.section-description The Holy Spirit is God, he achieves all purposes for which he is sent, he fulfilled the ministry of Jesus while he was on the earth and fills the life of all who know Christ, sealing them as Christians for all time. He moves within hearts to convict concerning sin, leading us towards righteousness. He progressively sanctifies man to be able to live more like Jesus everyday. (John 16:8-11; 1 Corinthians 12:12-14; Romans 8:9, Ephesians 4:23-24)
            
            h4.section-title.section-subtitle The Church
            p.section-description We believe that the Church is the people of God, collectively in all nations. We are the Bride of Christ and he is our head. The local expression of the people of God is found through many local churches. (Acts 14:27; 18:22; 20:17, 1 Timothy 3:1,3; Acts 2:41,42, 1 Corinthians 11:23- 26)
            
            h4.section-title.section-subtitle Salvation
            p.section-description We believe that all of a person’s salvation is initiated, enacted and completed by the sovereign will of the Father, the completed work of Jesus and the action of the Holy Spirit. We contribute nothing to our salvation but our sin. Through salvation, God adopts his people of faith as children, unites them as His Church and pours out the Holy Spirit for supernatural empowerment to continue Christ’s work of restoring wholeness and incarnating His presence on earth. (Romans 3:24-25; 1 Peter 2:24; Ephesians 1:7; 1 Peter 1:3-5; Ephesians 2:8-10, John 1:12, 1 Peter 1:18-19; Acts 1:8; Eph. 1:13; Titus 3:5; 1 John 4:12)
            
            h4.section-title.section-subtitle Sin
            p.section-description Since our first parents Adam and Eve rebelled against God in the garden, all humanity and creation has been infected and affected by sin. We are sinful from our conception and are unable to rid ourselves from sin through any amount of ‘good works’ or external cleansing. (Genesis 1:26- 27; Romans 3:10-18,22-23; 5:12; Ephesians 1-3,12)
            
            h4.section-title.section-subtitle Mission
            p.section-description We believe that the mission of the church is to reveal the good news of Jesus to a lost world. This is done through loving one another within the church, loving those outside of the church and through the verbal proclamation of the gospel. (John 20:21; Matt. 28:18-20; Phil 2:1-10)
            
            h4.section-title.section-subtitle Worship
            p.section-description Worship is at the very heart of the church’s life. All that the church is and does is rooted in its worship of God. The community of faith, gathered in response to God’s call, is formed in its worship. Worship is the principal influence that shapes our faith, and is the most visible way we express our faith. (Psalm 107:1; Psalm 127:1-6; John 4:23; Psalm 81:1-2)
            
            h4.section-title.section-subtitle The Kingdom
            p.section-description God’s good intentions and instructions established in the creation, continue to be lived out through his people through all history. Jesus’ life, death, burial and resurrection gave us example, instruction and the power to live out God’s intentions and instruction for his Kingdom. Jesus will return in power when he fully establishes his kingdom at his second coming. (Matt. 4:17; Matt. 5-7; Luke 18:16; Rom. 14:17; 1 Cor. 4:20; Rev. 5)
