mixin home-welcome()
        h1 
            span A New Church Family 
            | Built on Jesus.

        hr 

        p
            i Foundation Church is built on the guiding principle that Christ is the foundation of the Church, 
            | the life of the Christian and the motivation for all that we do. In our unique situation, 
            | we are able to honor the work the Lord has done to move us to where we are currently. Mars Hill Church 
            | will always hold the history of our new church and we will be forever grateful for the legacy we have been given. 
            | Looking forward, we will continue with much of what Mars Hill has began with some changes for greater health and longevity.

        p.verse "For no one can lay a foundation other than that which is laid, which is Jesus Christ."
        a(href='#').scripture-reference 1 Corinthians 3:11