#home-who-we-are {
    background: #edeae9;
    padding-top: 60px;
    padding-bottom: 100px;
    
    h2 {
        color: black;
        text-transform: uppercase;
        font-size: 45px;
        text-align: center;
    }
    
    hr {
        border-top: 1px solid rgba(0,0,0, .4)
    }
    
    p.section-description {
        color: black;
        margin-top: 2em;
        margin-bottom: 3em;
    }
    
    .pastor-photo {
        margin-top: 2em;
    }
    
    .pastor-name {
        font-family: @font-family-serif;
        color: black;
        font-size: 25px;
        margin-top: 1em;
    }
    
    .pastor-title {
        color: @brand-primary;
        font-size: 17px;
        font-style: italic;
        margin-top: -3px;
    }
}
