.section-title {
    text-align: center;
    text-transform: uppercase;
}

.section-description {
    font-size: 17px;
    text-align: center;
    color: @white;
    line-height: 1.7;
    font-style: italic;
}

.verse {
    font-weight: bold;
    font-family: @font-family-sans-serif;
    
    a.scripture-reference {
        display: block;
        font-family: @font-family-serif;
        color: @white;
        font-size: 17px;
        font-weight: 100;
        padding-top: 5px;
    }
}

.btn {
    text-transform: uppercase;
    font-family: @font-family-sans-serif;
}

.btn-lg {
    border-radius: 0;
}

.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    @media (min-width: @screen-md-min) {
        padding-bottom: 35%;
    }
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    // pointer-events: none;
}

.footer-description {
    font-size: 18px;
}

.footer-info-link {
    color: @white;
    padding-right: 20px;
    margin-left: 20px;
    display: inline-block;
    margin-bottom: 25px;
    
    @media (min-width: @screen-lg-min) {
        margin-top: 10px;
        border-right: 1px solid @white;
        margin-bottom: 0;
        .pull-right();
    }
    
    &:first-child {
        border: none;
    }
    
    &:hover {
        color: @white;
    }
    &:visited {
        color: @white;
    }
}

.footer-brand {
    #logo {
        fill: @white;
        width: 30vw;
    }
}