.navbar {
    border: none;
    min-height: 74px;
    
    @media (min-width: @screen-sm-min) { 
        min-heihght: 135px
    }
    
    .navbar-toggle {
        margin-top: 24px;
        margin-bottom: 16px;
        
        @media (min-width: @screen-sm-min) {
            margin-top: 50.5px;
            margin-bottom: 50.5px;
        }
    }
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}

.navbar-brand {
    float: left;
    padding: 20px 15px 0px;
    font-size: 37px;
    line-height: 37px;
    height: 57px;
    
    @media (min-width: @screen-sm-min) { 
        padding: 40px 15px 28px;
        font-size: 67px;
        line-height: 67px;
        height: 135px;
    }
    
    #logo {
        width: 140px;
        color: #000101;
        
        @media (min-width: @screen-md-min) { 
            width: 257px;
        }
    }
}

.navbar-nav {
    li a {
        text-transform: uppercase;
        font-family: @font-family-sans-serif;
        
        @media (min-width: @screen-sm-min) { 
            font-size: 1.1em;
            padding-top: 81px;
            padding-bottom: 34px;
            padding-right: 0px;
            padding-left: 0px;
        }
        
        // Use margin instead of padding on main nav to give the 
        // right bottom border length for the active state
        @media (min-width: @screen-sm-min) { 
            margin-left: @navbar-padding-horizontal;
            margin-right: @navbar-padding-horizontal;
        }
    }
    
    // move this to site/state.less?
    li.active a {
        @media (min-width: @screen-sm-min) { 
            padding-bottom: 24px;
            border-bottom: 10px solid @brand-primary;
        }
    }

}

.navbar-nav.navbar-right {
    @media (min-width: @screen-sm-min) { 
        li:last-child a {
            margin-right: 0px;
        }
    }
}

